<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>TERM PROJECT</title>
<style type="text/css">
</style>
</head>


<h1 class="auto-style8">TERM PROJECT </h1>
<table cellspacing="1" style="width: 50%; height: 50%" align="center" class="auto-style5">
	<tr>
		<td style="width: 268px; height: 22px">
		<a href="BasketBall/BB_Link1.html">
		<img alt="Basket Ball" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB_Home.jpg" width="319" class="auto-style6" /></a></td>
		<td class="auto-style1" style="width: 295px; height: 22px">SPORTS</td>
		<td style="height: 22px; width: 288px;">
		<a href="Soccer/S_Link1.html">
		<img alt="Soccer" height="190" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/S_Home.jpg" width="313" class="auto-style7" /></a></td>
	</tr>
	<tr>
		<td style="width: 268px; height: 192px" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/">HOME</a></td>
		<td style="width: 295px; height: 192px">
		<a href="BaseBall/BB2_Link1.html">
		<img alt="Base Ball" height="198" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB2_Home.jpg" width="302" class="auto-style7" /></a></td>
		<td style="height: 192px; width: 288px;" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/">COURSE
		WEBSITE</a></td>
	</tr>
	<tr>
		<td style="height: 23px; width: 268px">
		<a href="FootBall/FB_Link1.html">
		<img alt="Foot Ball" height="194" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/FB_Home.jpg" width="318" class="auto-style7" /></a></td>
		<td style="width: 295px; height: 23px" class="auto-style4">
		<a href="../TermProjectOutline.html">OUTLINE</a></td>
		<td style="height: 23px; width: 288px;">
		<a href="Hockey/H_Link1.html">
		<img alt="Hockey" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/H_Home.jpg" width="314" class="auto-style7" /></a></td>
	</tr>
</table>

</body>

</html>
<div class="article-row-section">
  <div class="article-row-section-inner">

    <h2 class="article-row-section-header">News</h2>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/URnbvYi5sybL8XcFUqX5j80sRv56TA9BVRMHRCNMht0096FiU7eYdWxQZRdb77zewFalRkDYsPis0VQVyLJrvOyNfJyQtfBpnMWomPd9y55dJ-zhi-GCnsjSyj2NZTsU8BqyB0RsTJrAauEf39LSl0oz-GgD2f5jIX96lXJvExqsC87p4Dipzl_RfTRgCaVjMicqoP0nVkUkvZHMW80f24ToIWnW0duq_M53hAfsh8bvcvsdYheL17nDDpOdgF9Eg87vS82NkHUnUaP_eNqAmqEtBE_q2WZ2ywUgKXA6-LBT4ZqIocDUlcrGQKrBOTXu4m70SdZG4FScaOb1CLSeIX2BANvxHz46R0Ommi_u9dusFe86BGhbiE_y88ShQk9LpCvwgeMT4anusuW0SBtpg_eWhv4kKn_lhzTdt-I5ua9TnNJGkgh1nxzhuMuPNlpxsfQkl3dp74_yOEk1_C3xelSIGp1zf3A26PUjmbjei0t6byfa8ooq20X4NT5rNy_F5E2zy52J6VhzEXpKXrQtvuwnGAtucXPGqmVcjY4VoGcjMGSaq7wMsNto27MmuokaOCdtiXqcIm3xDkoQh6Gig4mUVZMvUioIvVG-fZ8=w200-h95-no" alt="Basketball" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">Keep yourself updated on the Basketball world!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/6X5oVRgpZFwiY1KOzs-yoZJw4L8rxXbS4EI4OY5m9nPUEUIWJ-Mn_QT_4owRo9WGjMEZycl-pj2xFK_jyy1OcUnRLEVBDIYrsdInv53qt5asdnZBB1A4-sq64Hrs1MCFh1sA9Odnab4AnpJpC3CRWmR906N9YRnidxRmUhmnhor2h7NaEFuBnUL2BwfVtVfMjQtBLGX_Hb-n2tfUz8vWEmnCEIOb81XOVrIfogkh4GoxrdrHnhJ3fS5pVqvm4KUDm4YRDWZ_j66b0h0umuic6YZwr-1WS563ZMFvH_eXxGz3MyM9CNqZ47QBjctO-U4c1Xl7Qep6DGGS3Za2b1JG04_dyniN0Z6QdBsrUyhYEX9xKUsDbt5d6_vJU-i_x3zK8niFV99KowJE9c0rugVVpV2icmHNz40J2a5BNVT8ShwoaeUWG_q-lc9vNCWzYGD52TaD8pHBZPmWcZ0U0-FVke0DHYCC8e0cA_AgnCMZeq9iQyPrRaaHdu5QnqXrrlZV5Gg9fObi4hZtPrPrYkdnbvKpufofaoDjJtsuYwYs1mEjw4H_gTAaGlr_WHwrWp1zPVvdgjS-4yWtu4JPU76sYZfpGAKZcujPpYY7SeI=w200-h133-no" alt="Soccer"  />
					<a href="http://www.fifa.com/">Soccer
				</a></td>
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">See the latest results on matches across the world!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/Ugdcsmid0ngNXxARNiDf-3JSUGa6h_U3tFt7ggSdAPeZE5lyId0Gf5rJ7ueARseh9lHAHFCGIXqc-AWhxMP_zRuLEWXcC7HyB3jKUKoPk1K7umdm9AUzToV4QlaA2gOmTt08Tgy8Ry3Eg_v97E6Md5FFYOkHUSPanFRbUbQV4-pg8tVJUj8zuCEmMc6cHqPGGSPL3Ao9w7FD1039uipr2WC1OgA6cF2Q4YJ5xv62vkx75exGemV-LyWwX5p56CH74n-Zl30KmpM1W6aZcZwWr3wdVY2WBUfy-RRhjj6TpdVEvi6XuAKtau4zWTnDR05li7-98JcXAb5IbT2ares0PhTPmkvp54Wmr75EsWRdbgd3EMvc7-V6SLs6rj-wR9B8-JLuX_Fea7upyjEqBdB-rM5Kw2B6nv7nL_iBXe7wifZHFPzMmOhnK7BCUW63dCd4ZegyzlQzca_IMfArB-H6j4HGDKtdkbtVg7kuXsytPfjouKn46lyXhHTzGQXmWi7nkX-XfXh3fpH1l4VFPzu5clmLvzWt7M8EaRFZMbCrzVATx-CjHPWroK6dqIUZYQ3hGo5Ic7t16DYEIhICD_UWv0XJ3DUDb_1n-laVpcE=w200-h109-no" alt="Baseball" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">Click here for Baseball news!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur cupiditate, unde libero quisquam ipsam debitis earum omnis aperiam nulla eaque vitae error optio tempora voluptatem, quae impedit laborum placeat. Expedita!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>
		<a href="#">
			<article class="article-row article-row-reversed">
				<div class="article-row-img">
					<img src="https://lh3.googleusercontent.com/cGlN3_oPoGlLHIIUJ6lgTu7v_AZWttFEe81QgB6TuFNKCwctsnNUMQhQF2eVLRHIhejZPK6iMvokXOHlBIovqpAZjoxMp0crywJTyfjYLCKL_Uemh7d3SVBOaB9LwVkNGpNOBqeew9erbYUJEf8r1aptN7k6DVmw3Lep19Nl9DH8NwuOzAJYC1G-fRIbt3EpLZO2G8j1V0JWLnoevL_2UqqUqNcTBurJ6X4U__WMpa8GPTB8TLzOQT7y3VHN11rxQ_iVd8BMiO5iysK4T73gYh0h4EDR6dMOmmynlLe7_PP_1dq0RiW6s8sjIALeB9meZOzmy0kiDfGRd30w7EtLPTqHdEVz6aPy3V_ytv7vxN8aYiKkjV7y0G8tWbuiU2wR6rsIpCYQaRIYgY1OR7i-AoFZR2hso-w_ld_9XCuSwiyNogaWShF92c_TkUEhkW8DpbaJ7dbfAeu6f4xibuZkyoIp_On3PYWixu9UFm-psw04BBakVkrVCkEeRPlig7JSZwG-XJ0XWcho12BnG9ZgyVyIolVBEB6-sWWHbwCqJIlRF_4pug1DlUyzz1l1k1ya_r_qvBJViLbMdU8tfdOAFglku--twMgD-n-Vjlg=w200-h113-no" alt="Football" />
				</div>
				<div class="article-row-content">
					<h1 class="article-row-content-header">See last nights result by clicking here!</h1>

					<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>

					<p class="article-row-content-author">By Yeti</p>
					<time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
				</div>
			</article>
		</a>
  </div>

	<a href="#">
		<article class="article-row">
			<div class="article-row-img">
				<img src="https://lh3.googleusercontent.com/kSieGPYMyJzPclpH8_5besVWwq-9YpXkk3Jr3mhZNC_8ZrPz4e2zJ7jOxKyq0hUA2UohQmxIer09erxOtFZubfQyiqLa-Vezkn7hDvexmoTI0i9w9Ocw58FZgHUJwhP3YRhsIWKO5APAJ2dOX-tT7Tm-mIthbniXDe5VDwRMFe1KUwC4-wt2qICXbrKrPxf7O25aXeaW7qj8otOptWUAc2sk-ysj7IxgD9S98bwuh6O8GJo38zL3y_4WIUEjqZckzpJ-sYuuNL1ANvhsfzn0uPQ678CS0_FfS0IZKJAG3cbyV1lDvtpupMAfpaviZilHQK83KkFQlG3pcWnPtTXX0UbqhFTGWn1Z2t_mnlpEpZlCrFzqQ6HXovLrquumlkmDCqnqXeQaf7btaxV6-hLxeewUhiwaxRy4WURgICkoYUVbpKYqU-38KrTKu52qmiLvKzIfaTq15jI3SS-4cubqoA1QrO8E-CcdkMT8pmlmxcnemyqV9pAUiq_WBMUH6Cm9sd-v_PeEoakYB7fqFjeLENk9T-3szGOa7xtbCz8s0SqQfiTJlZRSm0V-RjZsbDXFyQAnkR-2tG6IpNc8UgldKmrUqPx_vcuFpm2OdH4=w243-h207-no" alt="Hockey" />
			</div>
			<div class="article-row-content">
				<h1 class="article-row-content-header">Hockey</h1>

				<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur cupiditate, unde libero quisquam ipsam debitis earum omnis aperiam nulla eaque vitae error optio tempora voluptatem, quae impedit laborum placeat. Expedita!</p>

				<p class="article-row-content-author">By Yeti</p>
				<time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
			</div>
		</article>
		<p>Hello. Do you want to view <a href="soccer.html.erb">page 2</a> ?</p>
	</a>

</div>
</div>
