<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>TERM PROJECT</title>
<style type="text/css">

</style>
</head>


<h1 class="auto-style8">TERM PROJECT </h1>
<table cellspacing="1" style="width: 50%; height: 50%" align="center" class="auto-style5">
	<tr>
		<td style="width: 268px; height: 22px">
		<a href="BasketBall/BB_Link1.html">
		<img alt="Basket Ball" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB_Home.jpg" width="319" class="auto-style6" /></a></td>
		<td class="auto-style1" style="width: 295px; height: 22px">SPORTS</td>
		<td style="height: 22px; width: 288px;">
		<a href="Soccer/S_Link1.html">
		<img alt="Soccer" height="190" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/S_Home.jpg" width="313" class="auto-style7" /></a></td>
	</tr>
	<tr>
		<td style="width: 268px; height: 192px" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/">HOME</a></td>
		<td style="width: 295px; height: 192px">
		<a href="BaseBall/BB2_Link1.html">
		<img alt="Base Ball" height="198" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB2_Home.jpg" width="302" class="auto-style7" /></a></td>
		<td style="height: 192px; width: 288px;" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/">COURSE
		WEBSITE</a></td>
	</tr>
	<tr>
		<td style="height: 23px; width: 268px">
		<a href="FootBall/FB_Link1.html">
		<img alt="Foot Ball" height="194" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/FB_Home.jpg" width="318" class="auto-style7" /></a></td>
		<td style="width: 295px; height: 23px" class="auto-style4">
		<a href="../TermProjectOutline.html">OUTLINE</a></td>
		<td style="height: 23px; width: 288px;">
		<a href="Hockey/H_Link1.html">
		<img alt="Hockey" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/H_Home.jpg" width="314" class="auto-style7" /></a></td>
	</tr>
</table>

</body>

</html>
<div class="article-row-section">
  <div class="article-row-section-inner">

    <h2 class="article-row-section-header">News</h2>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/BWjduMuJ0RWGssX8d5cXklv978KN_SqVKQIwSOmdq0SzSB4_v_L9gwBad5lEmRidbyZTFc344GFu3MRzMW7w-lhL4cLqHTYQQSzs-fJalzP2idjHSl0thkV-IUkibzkaRWgmYiKEJDJcDQhzdCraG2sAvdOo4CyhkP9gyw5GK1TzdZ0KdRDkIWTUiP0EBq2qVPm-pMNZ575I-78FRFK3X5t7pg_SxJ64dDoY6bJ1BsJ2gE9Y-ExwBAgFCt55_kMkjeIvVW6M5ZRI9hRJ1sgqtCVe6vaddQ6Hdlpkx5j73-nlGf83LGyBYXUNeGJxrqGAQtIU6FOSXnVfuGOBtccHjThqqqUpnQr1iJY2LFPTaaZNe25lGK7AgqOnjfT6wGGbEqQuA1-6N4jo2zCn25gWsU5Z9gOlBLwkI9ranI9lqrwgysqPKFw0tyzsnJspQcCioBEanDFv_bPFqoeVcZbVQJHYKKoFBjoNl4bsSagpPaBEeuvfQeFlgMmReV2AvFATBn2ykkMm7WfOI2VZK1B419EkP5zSl-IH8o2Zq4sPq2vrIkEL8PpFwfErrXNbmNZ84knSytkQtarE6l3oDUbV-uR3flamhw3GqK5lNcY=w200-h133-no" alt="Basketball" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">Keep yourself updated on the Basketball world!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/9rJbl1fuPKwauBdCzW0amWOiC0w4Jl_ICWbrBBE7jsQAdf-OOe6eFdi_Yt0dm2b4QcmyoOWX0A7SctesvkjTn_LRxi7dph2Hf42Ug7-JpaTo6hUqKp-z0tsdygfvYR7JdfgLvuiOEtA7714HKM2bR_aBi7vgW1KFde9iSIWEDor0oznj6h3Od9atdcbM8aN4jxyzAu0pMtwHm14nWsyRExKDJGAaKdcx-5rT25zUKHwaMJFF1M2j1fw_sgfc_JfL1GkQWUmZ1Nwc1pwza1f5_pA2KPKHKCFWK4y47jMXMfObQOZGwMARQ00dUf2_JWJWonQi4T7AzPJWQNfGZXVNAHpMnc59zLZ92Be3-donsQgNdTfa7yCCjAa5rBn89Wnap5JElUyICT_n7-Mrvxz4t7TarGhztNOe15joWCPLiDIrGYtfb1HkTZ0LXrtI4LbmPqfIMWk3P5eMCQzbWrnAyIlVWBfzM_rVVW6NFpS8_VvcUhpcpGQi82yC8CVYI_ue_owps1N-cGrCZQeOS0xFzYe5o4FTXno_IcXj61JeHS8uWpkBZUsbnyrBmRoReG1K9S-eIJcSD4EWqdCpDbRMmvWnog3pzbSVmOgo8dw=w200-h133-no" alt="Soccer" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">See the latest results on matches across the world!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="https://lh3.googleusercontent.com/_5cZ4XeRABS8dGCPDJFUfzH5v2SiBpNvJYm_HMzJWIQPDkpKXOKIazLP86oAVUEOQxgYHIfIHwZsaN8Co5rT4JjFc3jTT95ta_SWGE8-Xz5WwuYcBG3bRYpOJjgPrhnt4ol9MUcKbmgJ4Hb-CMfREvCzXJPl_ScShF7vTB4lTJCTXtJqgfhU_Z4YIzmLBblSWAU_QKX1b2zm73d1pO_O91GEPkbw9Nl5WKLQxRS1DjNFFd9QwuTlNdR4mRLTP16T3MxQUDOy2rjkffV1TrIbUIOqioLAjOGA-d8BFpjmZ6EGWmuoJbfrfXebBkcCvhTLuPiI469i8Q3DVjMofuxQKNXwu5Ph-VkS6mlavvjI8vrxAFHoZimfWKYGP2AdXhyx8m5tX1DvDi_N6hPoC7zfTOPl-T_pa8YbYX3CWm0kuTqvS1mcLFKoOK9GWiObEcWnixjedPYJSh8RNQsV93jstNYwdCrh2Cafl_6PjOrtNjhsBE_c60Ft1MSGT_SHwztgGaXMAFwZZlkz0cKM6sy-whG5gIkaLg0aZbu2PfkINqbTHUVmYclYlq1MRTnksS8Enu4olxEttzmJYEKjkiRukXptZt_PGsiJ43NK-IE=w200-h133-no" alt="Baseball" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">Click here for Baseball news!</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur cupiditate, unde libero quisquam ipsam debitis earum omnis aperiam nulla eaque vitae error optio tempora voluptatem, quae impedit laborum placeat. Expedita!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>
		<a href="#">
			<article class="article-row article-row-reversed">
				<div class="article-row-img">
					<img src="https://lh3.googleusercontent.com/Wlm7QGZ9rN4jLnRfar4eog63kBDySVMDLxwUoT2po4J7uO4ilRMLlAVChigq-SsP60XJuwwUM0WaO4XixHaCHccSpHcVSdI7oMjNNwXb-axH0ciyIqPxFRDdPkEZ30esirv1SOV4PERYyHfSXxdDILSXNuS_xWwe5wduTgDFpuJaKaDDDNuv6Q8BQ4s7fGQA3dbJZQXbye9r97W2ZHpY2_D6Yn6MhJLHdQQjwLa-vZ5toM4D8CV7o1SrBLspjXmLuYWxrfMalET3k31WFlT2r8nsktzxAnmwpxw_AmpnU3oidY9vwQHWsA3wAF3UVwxAFmuQu4Vt_t1ZSfaHsnfDjBjNwXokKTea7r7gchBxGFi3VRKjJ6Np1SvuJyFqbCIk2BRN-BETLuBxQDmyqddsSRTArmyx9n0AmmDZZPQ7PJxDzRwxCDU91cvhw07BSI6-N4VizpxrY3jyCMjLCKFNKrkQMjeExPzRlF-yT731cfjGoQyfKJoir9zf3a58F276QQPIOBYyVhOMurvcBaZuzy-D8_WYkwo5A-GzTwg_ADdZyV2Nv32QwTzPRLLIRT0BuqLYAUAhLcHjugx3wXwiHBLaisHUHX1yX1T4qnM=w200-h113-no" alt="Football" />
				</div>
				<div class="article-row-content">
					<h1 class="article-row-content-header">See last nights result by clicking here!</h1>

					<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>

					<p class="article-row-content-author">By Yeti</p>
					<time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
				</div>
			</article>
		</a>
  </div>

	<a href="#">
		<article class="article-row">
			<div class="article-row-img">
				<img src="https://lh3.googleusercontent.com/AFAk2VXLY-L4EmhJjWnnnWR7ZuaTM6ZOvgIQFWJiTlSGfVmonIVCoIam4cPRUStvR33g5bsdZiq6VbaycI9fnW94ln3OIMChkke82oQpPIwha9Ro8TR4nj2kH61rIaC5DTPKc1oqhZNxA979Zr2GwYqdYm3vk9hYwMHMQagIt34CA1UKi28ecWy-4EYuR2K1Jmzh_Y_pOzbZypfpCRChO5CsXXiiuneTdyUzywASeIZdPt6RsQRiUQqrmfoT8F3AZT2mbAIr-8bAtTBW2h_cgm0AXpVdjsf5CLl5sY75ljXvaPrJVoxdp3r2W9EjsIDCtyulOt_mcvJbWQ_1jm2uI9SSvHu6_ZXIXWIQvISHKC4AADOdyAQre-U9i38nR6UHWLcApsQ6BaGQmhwqWjAVdhgt4YfyDoCR7bQ8fK_7__aFMSp5nKxpXf2h_9iiDr-jPWdf92-jNyrJt5QXr2KIwoIoE36z14VMEN-kmE6wyLY-PD63F32bomd4nAooWPt3zueum5EDW79aEMwJLA42QINA6Lo0ZiwWCVndsR3OYzj_Ut5JadPACPNltqF1OV47xCT_ANmUWY883uUg5VT0xq3I9U6ZbW4udNnhkBE=w200-h133-no" alt="Hockey" />
			</div>
			<div class="article-row-content">
				<h1 class="article-row-content-header">Hockey</h1>

				<p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur cupiditate, unde libero quisquam ipsam debitis earum omnis aperiam nulla eaque vitae error optio tempora voluptatem, quae impedit laborum placeat. Expedita!</p>

				<p class="article-row-content-author">By Yeti</p>
				<time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
			</div>
		</article>
	</a>

</div>
</div>
