<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>TERM PROJECT</title>
<style type="text/css">

</style>
</head>


<h1 class="auto-style8">TERM PROJECT </h1>
<table cellspacing="1" style="width: 50%; height: 50%" align="center" class="auto-style5">
	<tr>
		<td style="width: 268px; height: 22px">
		<a href="BasketBall/BB_Link1.html">
		<img alt="Basket Ball" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB_Home.jpg" width="319" class="auto-style6" /></a></td>
		<td class="auto-style1" style="width: 295px; height: 22px">SPORTS</td>
		<td style="height: 22px; width: 288px;">
		<a href="Soccer/S_Link1.html">
		<img alt="Soccer" height="190" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/S_Home.jpg" width="313" class="auto-style7" /></a></td>
	</tr>
	<tr>
		<td style="width: 268px; height: 192px" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/">HOME</a></td>
		<td style="width: 295px; height: 192px">
		<a href="BaseBall/BB2_Link1.html">
		<img alt="Base Ball" height="198" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB2_Home.jpg" width="302" class="auto-style7" /></a></td>
		<td style="height: 192px; width: 288px;" class="auto-style4">
		<a href="http://146.111.120.96/FA16/ET_710_PNT1/">COURSE
		WEBSITE</a></td>
	</tr>
	<tr>
		<td style="height: 23px; width: 268px">
		<a href="FootBall/FB_Link1.html">
		<img alt="Foot Ball" height="194" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/FB_Home.jpg" width="318" class="auto-style7" /></a></td>
		<td style="width: 295px; height: 23px" class="auto-style4">
		<a href="../TermProjectOutline.html">OUTLINE</a></td>
		<td style="height: 23px; width: 288px;">
		<a href="Hockey/H_Link1.html">
		<img alt="Hockey" height="192" src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/H_Home.jpg" width="314" class="auto-style7" /></a></td>
	</tr>
</table>

</body>

</html>
<div class="article-row-section">
  <div class="article-row-section-inner">

    <h2 class="article-row-section-header">News</h2>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="http://146.111.120.96/FA16/ET_710_PNT1/CTORREZ70/Images/Term_Project_Images/BB_Home.jpg" alt="Basketball" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">HOW SPENDING $162,301.42 ON CLOTHES MADE ME $692,500</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quia sit ullam, assumenda et. est at. Minima cum enim, vero eligendi perspiciatis similique modi voluptatem officia fugiat.</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://placehold.it/200" alt="picture of a whale eating a donkey" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">HOW TO QUIT YOUR JOB, MOVE TO PARADISE AND GET PAID TO CHANGE THE WORLD</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusamus sint quas, odit, enim architecto officiis culpa!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

    <a href="#">
      <article class="article-row">
        <div class="article-row-img">
          <img src="https://placehold.it/200" alt="picture of a whale eating a donkey" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">HOW I’M GOING TO LOSE ALL MY CUSTOMERS AND WRECK MY BUSINESS</h1>

          <p class="article-row-content-description">Lorem ipsum dolor sit amet, consectetur cupiditate, unde libero quisquam ipsam debitis earum omnis aperiam nulla eaque vitae error optio tempora voluptatem, quae impedit laborum placeat. Expedita!</p>

          <p class="article-row-content-author">By Yeti</p>
          <time class="article-row-content-time" datetime="2008-02-14 20:00">July 14th 2021</time>
        </div>
      </article>
    </a>

  </div>
</div>
